
body{
    color: #4B535C;
    font:13px Arial, Helvetica, sans-serif;
    padding-top:10px;
    text-align: center;

}

        #okno {
            width: 300px;
            height: 160px;
            text-align: center;
            padding: 15px;
            border: 3px solid #0000cc;
            border-radius: 10px;
            color: #0000cc;
            display: none;
        }

        #okno:target {
            display: block;
        }.close {
        display: inline-block;
        border: 3px solid #0000cc;
        color: #0000cc;
        padding: 0 12px;
        margin: 10px;
        text-decoration: none;
        background: #f2f2f2;
        font-size: 14pt;
        cursor:pointer;
      }.close:hover {background: #e6e6ff;}
.form-control{
    margin: 7px;
}
.close{
    padding: 0 5px;
}
.form-show{
    padding-left: 550px;
    padding-top: 10px;
}